<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">

    <title>ChatWithMe</title>
</head>
<body>
<div id="content-cnt">
    <div id="message-box">
        <div class="messages"></div>
        <div class="action">
            <textarea id="message-to-send"></textarea>
            <button class="btn send">确认</button>
        </div>
    </div>
</div>

<script src="/static/src/libs/jquery-3.3.1.js"></script>
<script src="/static/src/common/utils.js"></script>
<script src="/static/src/chat/chat.js"></script>
</body>
</html>